.hotel__container{
  width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.hotel__wrapper{
    width: 100%;
    max-width: 1024px;
    /* margin: 0 auto; */
    display: flex;
    gap: 20px;
}
.search__table{
flex: 1;
/* width: 100%; */
height: max-content;
background: lightsalmon;
padding: 10px;
border-radius: 10px;
position: sticky;
top: 10px;
}
.search__result{
    /* min-width: 100%; */
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.table__list{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}
.table__list > label{
    font-size: 12px;
}
.table__list > input{
    height: 30px;
    border: none;
    padding: 5px;
}
.table__list > span{
    height: 30px;
    padding: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
}
.table__date{

}
.table__option__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: .8rem;
}
.table__input{
    width: 60px;
    padding: 5px 10px;
    border: none;
    outline: none;
    box-shadow: 0px 2px 2px 0px lightgray;
    border-radius: 3px;
}
.table__btn{
    width: 100%;
    margin-top: 1rem;
    padding: 12px;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 20px;
    border-radius: 3px;
    background: lightskyblue;
}